@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;  
}
/* header */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(49, 168, 221, .2), rgba(0, 0, 0, .1)), url("./assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    border-bottom: #33A8DB 0.1rem solid;
}
/* div header */
.banner-content{
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
/* img css developer */
.logo{
    display: flex;
    margin-top: 4.6rem;
    background-color:  rgba(0, 0, 0, .25);
    border: 0.5rem rgba(0, 0, 0, .03) solid;
    border-radius: 50%;
} 
.logo img{
    width: 15.5rem;  
    margin: 1rem auto;
}
/* header title */
.banner-content h1{
    background-image: linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1rem 0 0;
}
/* header paragraph */
.banner-content p{
    width: 31.8rem;
    font-size: 1.24rem;
    margin: 1rem 0 1.5rem;
    text-align: center;
}
/*  header button */
.banner-content button{
    width: 20.3rem;
    background-color: transparent;
    padding: 1.1rem 2rem;
    margin-bottom: 4.6rem;
    border: 0.2rem solid transparent; 
    border-image: linear-gradient(to bottom, #33A8DB, #1472B7); 
    border-image-slice: 1;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    color: #31A8DD;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
}
/* sections title, paragraph, division*/
section h2{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #31A8DD;
    font-weight: 700;
    font-size: 2rem;
}
section p{
    width: 49.5rem;
    margin: 1.5rem 0;
}
section{
    border-bottom: #33A8DB 0.1rem solid;
}
/* section 1 */
#course-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 74vh;
}
/* section 1 modules */
.module{
    margin: 1.5rem 0;
    padding: 1rem 7.9rem;
    background-color: #252525;
    border: 0.1rem #33A8DB inset;
    border-radius: 3.5rem;
    box-shadow: #0f0f0f 0px 2px 4px 3px inset;
}
/* section 1 modules paragraph span */
.module span{
    color: #33A8DB;
}
/* section 2 */
#transform-world{
    display: flex;
    align-items: center;
    background-image: url("./assets/images/woman-code.png");
    background-position: 50% 42%;
    background-size: cover;
    height: 50vh;
}
/* section 2  paragraph*/
#transform-world p {
    width: 19rem;
    height: 8.8rem;
    margin-left: 18rem;
    font-size: 3rem;
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 0.2rem 0.2rem #33A8DB;
}
/* section 3 */
#professional-challenges{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    height: 95vh;
    text-align: center;

}
/*  section 3 title */
#professional-challenges h2{
    width: 51rem;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23.8vh;
}
/* footer paragraph span  */

